# OpenAI API setting
OPENAI_API_KEY='xx'
OPENAI_API_BASE='https://api.openai.com/v1'
OPENAI_API_MODEL='gpt-3.5-turbo'
# cache llm inference and embedding, useful when develop and debug
LLM_CACHE='no'
LLM_CACHE_PATH='./llm_cache.json'
# google search tool at https://google.serper.dev
SERPER_API_KEY='xxx'