# OPENAI API Key or 兼容OpenAI Python SDK 的其他国产大模型API Key
OPENAI_API_KEY='your_openai_api_key'

# OPENAI API 访问地址 or 代理地址 or 兼容OpenAI Python SDK 的其他国产大模型API地址
OPENAI_API_BASE='https://api.openai.com/v1'

# 默认大模型
DEFAULT_LLM_MODEL='gpt-4o'

# embedding模型
OPENAI_EMBEDDING_MODEL='text-embedding-3-small'

# 默认大模型的温度
LLM_TEMPERATURE='0.5'

AGENT_LOG='info'

# SERPER API Key(可选) ./examples/3_ai_search.py 需要用到
SERPER_API_KEY='your_serper_api_key'