# ---------must--------
# OpenAI API setting
OPENAI_API_KEY='xx'

# ---------not necessary--------
# OpenAI other setting
OPENAI_API_BASE='https://api.openai.com/v1'
OPENAI_API_MODEL='gpt-3.5-turbo'
TEMPERATURE=0.5

# cache llm inference and embedding, useful when develop and debug
LLM_CACHE='no'
EMBEDDING_CACHE='yes'
# CACHE_PATH='./llm_cache.json'

# google search tool at https://google.serper.dev
SERPER_API_KEY='xxx'

# Whether to automatically run python, shell, applescript and other codes
# Default no: n
AUTO_RUN='y'

# Logging level
# Default: INFO, can be DEBUG, INFO, WARNING, ERROR
LOG_LEVEL='INFO'

# 默认是根目录下的 ./data 
# DATA_DIR