*.pyc
GeneralAgent/.env
GeneralAgent/*.json

test/data_0.json
test/data/test_workspace/*
test/data/test_workspace/memory.json
test/data/test_workspace/memory.json
test/test_workspace/memory.json
test/data/test_workspace/memory.json
test/tetris.py
test/tetris.py.bak
GeneralAgent/cache_json
test/data/plan_memory.json
test/data/test_interpreter.bin
test/data/b.txt
