*.pyc
GeneralAgent/.env
GeneralAgent/*.json

test/data_0.json
test/data/test_workspace/*
test/tetris.py
test/tetris.py.bak
GeneralAgent/cache_json
test/data/plan_memory.json
test/data/test_interpreter.bin
test/data/b.txt
test/data/a.txt
test/data/hello.pptx
test/.env

build/*
dist/*
GeneralAgent.egg-info*
test/multi_lines_input/*
test/multi_lines_input/*
.env
examples/memory.json
test/link_memory.json
test/memory.json
test/llm_cache.json
test/summary_memory.json
*/llm_cache.json
