fastapi
requests
tinydb
openai==0.27.6
jinja2
numpy
bs4
playwright
retrying
pymupdf
python-pptx
python-docx
yfinance
beautifulsoup4
python-dotenv
uvicorn
pytest
tiktoken
httpx
pulsar-client
pymongo
websocket-client-py3
websockets
pypdf
replicate
edge-tts
pydub
tinydb
chromadb
python-multipart
pytest-asyncio>=0.21.1