*.pyc
server/server/general_agent_db.json
server/server/.env
server/server/data/*
server/server/files/*
server/server/llm_cache.json
server/test/ui/*
server/server/ts_builder/src/lib/index.tsx
server/test/llm_cache.json
server/server/ts_builder/webpack.config.js
